<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">{{title | trimCreditCard:'#'}}</div>
  <div class="panel-body">
    <p>{{date | date: 'E, d MMM y'}}</p>
  </div>

  <!-- List group -->
  <ul class="list-group">
    <li (click)="onItemClick('calories')" class="list-group-item">{{caloriesText}}<span class="badge">{{ 2400.00 | number }}</span></li>
    <li (click)="onItemClick('sleep')" class="list-group-item">{{sleepText}}<span class="badge">14</span></li>
    <li (click)="onItemClick('weight')" class="list-group-item">{{weightText}}<span class="badge">14</span></li>
    <li (click)="onItemClick('b')" class="list-group-item">{{bmiText}}<span class="badge">14</span></li>
  </ul>
</div>
