<nav class="navbar navbar-default" style="background-color: #cb96c2; color: white">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" style="color: white">
        Todies Fitness
      </a>
    </div>
    <button type="button" style="color: white" class="btn btn-link navbar-btn navbar-right" (click)="onSignOutClick()">Sign out</button>
    <button type="button" style="color: white" class="btn btn-link navbar-btn navbar-right" (click)="onCaloriesClick()">Calories</button>
    <button type="button" style="color: white" class="btn btn-link navbar-btn navbar-right" (click)="onFoodListClick()">Food-List</button>
    <button type="button" style="color: white" class="btn btn-link navbar-btn navbar-right" (click)="onFoodClick()">Food</button>
    <button type="button" style="color: white" class="btn btn-link navbar-btn navbar-right" (click)="onSleepClick()">Sleep</button>
    <button type="button" style="color: white" class="btn btn-link navbar-btn navbar-right" (click)="onWeightClick()">Weight</button>
    <button type="button" style="color: white" class="btn btn-link navbar-btn navbar-right" (click)="onDashboardClick()">Dashboard</button>
    <button type="button" style="color: white" class="btn btn-link navbar-btn navbar-right" (click)="onProfileClick()">Profile</button>
  </div>
</nav>

<router-outlet></router-outlet>
