<carousel>
  <slide>
    <img src="assets/images/home/head_01.jpg" alt="first slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Jennis</h3>
      <p>Hello it's me</p>
    </div>
  </slide>
  <slide>
    <img src="assets/images/home/head_02.jpg" alt="second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Todies Fitness</h3>
      <p>You can do it!!</p>
    </div>
  </slide>
  <slide>
    <img src="assets/images/home/head_03.jpg" alt="third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Cherprang</h3>
      <p>Go Go~</p>
    </div>
  </slide>
</carousel>
<div class="text-center">
  <br/>
  <div class="row">
    <div class="col-md-2 col-md-offset-5">
      <button (click)="onLoginClick()" class="btn btn-primary col-xs-12">Login</button>
    </div>
  </div>
</div>

