<carousel>
  <slide>
    <img src="assets/images/home/head_01.jpg" alt="first slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>BNK48 - Fanart : First Official MV</h3>
      <p>This is a fanart of BNK48[Idol girls group] about MV KFC.</p>
    </div>
  </slide>
  <slide>
    <img src="assets/images/home/head_02.jpg" alt="second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>BNK48 - Fanart : Fantasy World</h3>
      <p>This is a fanart of BNK48[Idol girls group] in Fantasy World.</p>
    </div>
  </slide>
  <slide>
    <img src="assets/images/home/head_03.jpg" alt="third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>BNK48 - Fanart : The Evolution of Cherprang</h3>
      <p>This is a fanart of Cherprang BNK48 past 1 year.</p>
    </div>
  </slide>
</carousel>
<div class="text-center">
  <br/>
  <div class="row">
    <div class="col-md-2 col-md-offset-5">
      <button (click)="onLoginClick()" class="btn btn-primary col-xs-12">Login</button>
    </div>
  </div>
</div>

